<a href="/lifts">Lift Index</a>

<h1>All Resort Lifts</h1>

<h3>Resort Id: <%= @resort.id %>

<% @lifts.each do |lift| %>
  <h3><%= lift.name %></h3>
  <p>Seats: <%= lift.seats %></p>
  <p>Is Gondola: <%= lift.is_gondola %></p>
  <p>Lift Id: <%= lift.id %></p>
<% end %>