<h1>Resort Details Page</h1>

<h3><%= @resort.name %></h3>
<p>Location: <%= @resort.location %></p>
<p>Peak Elevation: <%= @resort.peak_elevation %></p>
<p>Is Ikon Resort: <%= @resort.is_ikon_resort %></p>
<p>Resort Id: <%= @resort.id %></p>