<a href="/resorts">Resort Index</a>
<a href="/lifts">Lift Index</a>

<h1>All Resort Lifts</h1>

<% @lifts.each do |lift| %>
  <h3><%= lift.name %></h3>
  <p>Seats: <%= lift.seats %></p>
  <p>Is Gondola: <%= lift.is_gondola %></p>
  <p>Lift Id: <%= lift.id %></p>
<% end %>

<a href="/resorts/<%= @resort.id %>/lifts/new">Create Lift</a>